.countdown_collection__body {
    height: auto;
    display: flex;
}

.countdown_collection__text,
.countdown_collection__text_p,
.countdown_collection__text_span {
    color: black;
}

.countdown_collection__dates {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown_collection__date {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown_collection__dots {
    color: black;
}